.error-message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    .error-message-content {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}