.zombie-game-summary {
    position: absolute;
    top: 25px;
    left: 25px;
    .controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > div {
            margin-right: 12px;
            padding: 4px 8px;
            border-radius: 20px;
            border: 1px solid var(--primary-color);
        }
    }
}