.hot-keys-help-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
}

.hot-keys-help-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    table {
        thead {
            border-bottom: 1px solid var(--primary-color);
        }
        thead,
        tbody {
            tr {
                td, th {
                    padding: 6px;
                    min-width: 120px;
                }
            }
        }
        tbody {
            &.group-item {
                border: 1px solid var(--secondary-color);
                .group-header-item {
                    background-color: var(--primary-color);
                    color: var(--background-color);
                }
            }
        }
    }
}
