.volume-control-container {
    position: fixed;
    right: 75px;
    top: 190px;
}

.sound-attributon-container {
    position: absolute;
    top: 0;
    right: 25px;
    color: var(--primary-color);
    font-size: 12px;
    a {
        text-decoration: none;
        color: var(--primary-color);
        &:hover {
            text-decoration: none;
            color: var(--danger-color);
        }
    }
}