.volume-control-container {
    position: absolute;
    right: 75px;
    top: 190px;
}

.sound-attributon-container {
    position: absolute;
    top: 0;
    right: 25px;
    color: var(--primary-color);
    font-size: 12px;
}