@mixin settings-slider-button($clip-path) {
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 0.25s;
    outline: none;
    clip-path: $clip-path;
    opacity: 0.5;
    &:hover {
        box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.3);
        transition: all ease-in-out 0.25s;
        opacity: 1;
    }
}

.settings-slider-container {
    position: absolute;
    top: calc((100vh / 2) - 50px);
    right: 0;
    .settings-slider-open-button {
        @include settings-slider-button(polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%))
    }
    .slider-container {
        position: relative;
        .MuiSlider-root {
            width: 150px;
            margin-right: 25px;
        }
        .button-container {
            position: absolute;
            top: -50px;
            right: 25px;
            .button {
                @include settings-slider-button(polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%))
            }
        }
        .fire-switch {
            justify-content: space-between;
            padding-right: 16px;
        }
        .width-150 {
            width: 150px;
        }
        .MuiSwitch-track {
            background-color: #343434;
        }
        .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
            background-color: #8491A3;
        }
    }
}