* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

body .container-fluid {
  min-height: calc(100vh - 60px);
}

body footer {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.common-splitter {
  display: flex;
  justify-content: 'space-between';
  align-items: 'center';
}

.common-splitter > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.common-splitter > div:first-child {
  text-align: left;
}

.common-splitter > div:last-child {
  text-align: right;
}