.pages-error-container {
    .loading-section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .pdf-viewer {
        position: absolute;
        top: 25px;
        right: 25px;
    }
}